.header{
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0 7%;
    div{
        nav{
            .navbar-brand{
                color: rgb(165, 33, 33);
                font-size: 28px;
                font-weight: bold;
            }
        }
    }
}